<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>

    <h2>This is created by HTML code</h2>

    <form action="">

        <label for="user_name">First Name : </label>
        <input type="text" name="test_field" placeholder="Enter your First Name" required><br><br>

        <label for="user_email">User Email : </label>
        <input type="email" name="test_field" placeholder="Enter your Email" required><br><br>

        <input type="submit" name="submit" value="submit">


    </form>

    <hr>

    <h2>{{ heading_1 }}</h2>

    <form action="">

        {{ test_form }}


    </form>
    
</body>
</html>